<%- include('partials/header'); -%>
<div class="wrapper">
        <header>Todo List</header>
        <div class="inputField">
            <input type="text" placeholder="Add your new ToDo">
            <button><i class="fa-solid fa-plus"></i></button>
        </div>
        <ul class="todolist">
            
        </ul>
<%- include("partials/footer"); -%>